@model MIMDP_APP.Models.Parking.ViewModels.ParkingIndexViewModel;
@{
}
<style>
    .index {
        display: flex;
    }

    .contenido {
        width: 100%;
        padding: 20px;
    }

    .container-custom {
        width: 100%;
        height: auto;
        border: 1px solid #ccc;
        padding: 20px;
        margin-bottom: 20px;
    }
</style>

<partial name="_Header" model='TempData["UserName"]'></partial>

<div class="index">
        <partial name="_Sidebar" />

    <div class="contenido">
        <div class="container-custom">
            <form asp-action="SubmitForm" method="post">

                <div class="form-group">
                    <label asp-for="NuevoParking.IdAuto">Número de la Patente</label>
                    <select asp-for="NuevoParking.IdAuto" class="form-control" asp-items="@(new SelectList(Model.Autos, "Id", "Patente"))">
                        <option value="">Seleccione una de sus patentes</option>
                    </select>
                    <span asp-validation-for="NuevoParking.IdAuto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NuevoParking.Duracion">Duracion (En Horas)</label>
                    <input asp-for="NuevoParking.Duracion" type="number" class="form-control" required>
                    <span asp-validation-for="NuevoParking.Duracion" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="NuevoParking.Direccion">Dirección</label>
                    <input asp-for="NuevoParking.Direccion" type="text" class="form-control" required>
                    <span asp-validation-for="NuevoParking.Direccion" class="text-danger"></span>

                </div>
                <button asp-action="NuevoParking" asp-controller="Parking" type="submit" style="background-color:#3F495E" class="btn btn-primary">Estacionar</button>
            </form>
        </div>

        <table class="table table-dark" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Patente</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Duración (Hs)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var parking in Model.Parkings)
                {
                    <tr>
                        <th scope="row">@parking.Id</th>
                        <td>@parking.Auto.Patente</td>
                        <td>@parking.Auto.Modelo</td>
                        <td>@parking.Direccion</td>
                        <td>@parking.DuracionEnHoras</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<partial name="_Footer"></partial>