@model MIMDP_APP.Models.Salud.ViewModels.SaludIndexViewModel
@{
}
<style>
    .index {
        display: flex;
    }

    .contenido {
        width: 100%;
        padding: 20px;
    }

    .container-custom {
        width: 100%;
        height: auto;
        border: 1px solid #ccc;
        padding: 20px;
        margin-bottom: 20px;
    }
</style>

<partial name="_Header" model='TempData["UserName"]'></partial>

<div class="index">
    <partial name="_Sidebar" />

    <div class="contenido">
        <div class="container-custom">
            <form asp-action="SubmitForm" method="post">
                <div class="form-group">
                    <label asp-for="@Model.Turno.IdCentroDeSalud">Centro de salud</label>
                    <select asp-for="@Model.Turno.IdCentroDeSalud" class="form-control" asp-items="@(new SelectList(@Model.CentrosDeSalud, "Id", "Nombre"))">
                        <option value="">Seleccione el centro de salud</option>
                    </select>
                    <span asp-validation-for="@Model.Turno.IdCentroDeSalud" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Turno.IdEspecialidad">Especialidad</label>
                    <select asp-for="@Model.Turno.IdEspecialidad" class="form-control" asp-items="@(new SelectList(@Model.Espacialidades, "Id", "Nombre"))">
                        <option value="">Seleccione la especialidad</option>
                    </select>
                    <span asp-validation-for="@Model.Turno.IdEspecialidad" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Turno.Horario">Dia</label>
                    <input asp-for="@Model.Turno.Horario" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" required>
                    <span class="text-danger">
                        <p>@ViewBag.Message</p>
                    </span>

                </div>

                <input asp-for="@Model.NumeroDeTramite" value="@Model.Turnos[0].IdUsuarioNavigation.NumeroDeTramite" type="hidden" />
                <input asp-for="@Model.UserId" value="@Model.Turnos[0].IdUsuarioNavigation.Id" type="hidden" />

                

                <button asp-action="NuevoTurno" asp-controller="Salud" type="submit" style="background-color:#3F495E" class="btn btn-primary">Generar turno</button>
            </form>
        </div>

        <table class="table table-dark" style="width:100%">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Institucion Salud</th>
                    <th scope="col">Especialidad</th>
                    <th scope="col">Horario</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var turno in Model.Turnos)
                {
                    <tr>
                        <th scope="row">@turno.Id</th>
                        <td>@turno.IdCentroDeSaludNavigation.Nombre</td>
                        <td>@turno.IdEspecialidadNavigation.Nombre</td>
                        <td>@turno.Horario</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<partial name="_Footer"></partial>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
